<div
  class="p-d-flex p-jc-center p-ai-center"
  style="width: 100vw; height: 100vh"
>
  <p-card header="Counter">
    <div class="p-text-center">
      <h2 class="p-mt-0">{{ counter }}</h2>
      <div class="p-d-flex p-jc-center">
        <button
          pButton
          pRipple
          type="button"
          label="Increment"
          class="p-button-raised p-button-success p-mx-2"
          (click)="increment()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Decrement"
          class="p-button-raised p-button-info p-mx-2"
          (click)="decrement()"
        ></button>
      </div>
    </div>
    <app-child class="p-d-block p-shadow-12"></app-child>
  </p-card>
</div>
